:root {
  --blue: #132d7cd8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--blue) !important;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* position: absolute; */
  /* z-index: 2; */
}

/* .dropdown-menu {
  background-color: red !important;
  opacity: 1 !important;
  z-index: 5;
} */

footer {
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--blue);
  color: white;
}

.sections {
  /* border: 3px solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footerSections {
  /* border: 3px solid red; */
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
}

.footerSections > p {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  text-align: justify;
}

.footerSections > h6 {
  height: 2vh;
  /* border: 2px solid palevioletred; */
  font-weight: bolder;
  letter-spacing: 1px;
}
.lists {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /* border: 3px solid rosybrown; */
  /* height: 80%; */
}

.lists > li,
a {
  list-style: none;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
  padding: 0.5vh;
}
.lists > li > a:hover {
  color: rgba(46, 14, 21, 0.644);
  font-weight: bolder;
}
.contactDetails {
  /* border: 2px solid saddlebrown; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 80%; */
}

.contactDetails:first-child {
  text-align: justify;
}

@media (min-width: 821px) and (max-width: 1024px) {
  .sections {
    /* border: 3px solid orange; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footerSections {
    /* border: 3px solid red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
  }
}

@media (min-width: 540px) and (max-width: 820px) {
  .sections {
    /* border: 3px solid orange; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
  .footerSections {
    /* border: 3px solid red; */
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 2vh 5vw;
  }
  .footerSections > h6 {
    height: auto;
    /* border: 2px solid palevioletred; */
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .lists > li,
  a {
    list-style: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    padding: 0.5vh 0;
  }
}

@media (max-width: 539px) {
  .sections {
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .footerSections {
    /* border: 3px solid red; */
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 1vh 2vw;
    margin-bottom: 2.5vh;
  }
  .footerSections > h6 {
    height: auto;
    /* border: 2px solid palevioletred; */
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .lists > li,
  a {
    list-style: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s;
    padding: 0.5vh 0;
  }
}
