.navbar {
  background-color: var(--blue) !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* position: fixed !important; */
  z-index: 5;
  width: 100%;
  /* opacity: 0.9; */
}

.dropdown-menu {
  background-color: white !important;
  opacity: 1 !important;
  z-index: 5;
  position: absolute;
}
.mainImage {
  /* border: 5px solid red; */
  height: 110vh;
  z-index: 1;
  position: relative;
  width: 100%;
}

.mainImage > img {
  width: 100%;
  height: 100%;
  filter: brightness(45%);
  /* filter: blur(5px); */
}
.introText {
  /* border: 5px solid salmon; */
  position: absolute;
  height: fit-content;
  width: fit-content;
  color: rgba(255, 255, 255, 0.76);
  font-weight: bold;
  font-size: 5vmax;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  transition: all 0.3s;
}

.introText:hover {
  cursor: pointer;
  color: white;
}

.TextBelowMainImage {
  /* border: 1px solid rgb(247, 90, 0); */
  height: auto;
  padding-bottom: 2vh;
}

.TextBelowMainImage > h3 {
  /* border: 5px solid aqua; */
  /* padding-top: 5vh; */
  margin: 10vh 0 2vh 0;
  text-align: center;
  font-size: 2.2vmax;
  color: var(--blue);
}

.TextBelowMainImage > p {
  /* border: 2px solid saddlebrown; */
  width: 60vw;
  margin: auto;
  text-align: center;
}

@media (max-width: 819px) {
  .TextBelowMainImage > p {
    /* border: 2px solid saddlebrown; */
    width: 90vw;
    margin: auto;
    text-align: center;
  }
}

.svgSection {
  /* border: 10px dotted firebrick; */
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  margin-top: 5vh;
}
.svgDetails {
  /* border: 5px dashed violet; */
  width: 30%;
  display: flex;
  /* margin-right: 0.1vw; */
  align-items: center;
  /* justify-content: center; */
}

.svgText {
  /* border: 2px solid forestgreen; */
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding-top: 1vh;
  height: 100%;
}
.svgDetails > svg {
  height: 7vmax;
  width: 45%;
  margin-right: 1vw;
  fill: var(--blue) !important;
  /* border: 2px solid red; */
}
.svgText > h6 {
  font-weight: bold;
  font-size: 1.5vmax;
  color: var(--blue);
  margin-top: 1vh;
}

.svgText > p {
  text-align: justify;
}

@media (min-width: 821px) and (max-width: 1024px) {
  .svgDetails > svg {
    height: 7vmax;
    width: 100%;
    fill: var(--blue) !important;
    /* border: 2px solid red; */
  }
  .svgDetails {
    /* border: 5px dashed violet; */
    width: 30%;
    display: flex;
    /* margin-right: 0.1vw; */
    align-items: flex-start;
    /* justify-content: center; */
  }
  .svgSection {
    /* border: 10px dotted firebrick; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    margin-top: 10vh;
    padding: 0 1vw;
  }
  .svgText {
    /* border: 2px solid forestgreen; */
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 0;
    height: 100%;
  }
}

@media (min-width: 540px) and (max-width: 820px) {
  .svgSection {
    /* border: 10px dotted firebrick; */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    margin-top: 3vh;
    padding: 0 1vw;
  }
  .svgDetails {
    /* border: 5px dashed violet; */
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .svgText {
    /* border: 2px solid forestgreen; */
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* justify-content: center; */
    align-items: center;
    padding-top: 0.3vh;
    padding-bottom: 0;
    height: 100%;
  }
  .svgText > p {
    margin-bottom: 0;
  }
  .TextBelowMainImage > h3 {
    /* border: 5px solid aqua; */
    /* padding-top: 5vh; */
    margin: 4vh 0 2vh 0;
    text-align: center;
    font-size: 2.2vmax;
    color: var(--blue);
  }
}

@media (max-width: 539px) {
  .svgSection {
    /* border: 10px dotted firebrick; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    margin-top: 3vh;
  }
  .svgDetails {
    /* border: 5px dashed violet; */
    width: 100%;
    display: flex;
    /* margin-right: 0.1vw; */
    align-items: center;
    /* justify-content: center; */
  }
  .svgText {
    /* border: 2px solid forestgreen; */
    width: 85%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    /* padding-top: 1vh; */
    padding-right: 5vw;
    padding-left: 5vw;
    height: 100%;
  }
  .svgText > h6 {
    font-weight: bold;
    font-size: 2.3vmax;
    color: var(--blue);
  }
  .svgDetails > svg {
    height: 15vmax;
    width: 21%;
    fill: var(--blue) !important;
    /* border: 2px solid red; */
  }
  .TextBelowMainImage > h3 {
    /* border: 5px solid aqua; */
    /* padding-top: 5vh; */
    margin: 3vh 0 2vh 0;
    text-align: center;
    font-size: 2.2vmax;
    color: var(--blue);
  }
}

.practicingAreasSection {
  /* border: 5px solid saddlebrown; */
  height: auto;
  background: url("/static/lawapp/img/services.jpg");
  background-blend-mode: soft-light;
  background-color: #0a1538b7;
  /* background-color: black; */
  /* background-color: var(--blue); */
  background-repeat: no-repeat;
  background-size: cover;
  color: antiquewhite;
  text-align: center;
  padding: 3vh 0;
  /* margin: 5vh 0 2vh 0; */
}

.practicingAreasSection > button {
  background-color: white;
  border: white;
  color: var(--blue);
  margin-top: 4vh;
  margin-bottom: 4vh;
  transition: all 0.3s;
}

.practicingAreasSection > button:hover {
  background-color: transparent;
  /* border: 1px solid white; */
}

.practicingAreasSection > h3 {
  margin-top: 7vh;
  font-size: 2.2vmax;
  letter-spacing: 0.3vw;
  padding-bottom: 1vh;
}

.practicingAreasSection > p {
  margin-top: 1vh;
  /* border: 1px dashed gold; */
  width: 60vw;
  text-align: center !important;
  margin: auto;
}

@media (max-width: 540px) {
  .practicingAreasSection > p {
    margin-top: 1vh;
    /* border: 1px dashed gold; */
    width: 90vw;
    text-align: center !important;
    margin: auto;
  }
  .PracticeCards > button {
    margin-top: 1vh;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1vmax;
  }
  .practicingAreasSection > button {
    background-color: white;
    border: white;
    color: var(--blue);
    margin-top: 4vh;
    margin-bottom: 4vh;
    transition: all 0.3s;
    font-size: 1vmax;
  }
}

.PracticeCardsParent {
  /* border: 2px dashed brown; */
  margin-top: 5vh !important;
  /* width: 60vw; */
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto auto;
  row-gap: 5vh;
  column-gap: 5vh;
}

.PracticeCards {
  /* border: 2px solid forestgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2vh 0; */
  font-size: 1.5vmax;
  font-weight: 500;
  justify-content: center;
  height: 30vh;
}
.PracticeCards > h6 {
  font-size: 1vmax;
  /* border: 1px solid red; */
}

.PracticeCards > svg {
  fill: white;
  height: 5vmax;
  /* padding-bottom: 1vh; */
  margin-bottom: 2vh;
  width: fit-content;
}
.PracticeCards > button {
  margin-top: 1vh;
  color: white;
  background-color: transparent;
  border: none;
  font-size: 0.8vmax;
}

.PracticeCards > button:hover {
  background-color: transparent !important;
}

@media (max-width: 820px) {
  .PracticeCards {
    /* border: 2px solid forestgreen; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 2vh 0; */
    font-size: 1.5vmax;
    font-weight: 500;
    justify-content: space-between;
    height: 16vh;
  }
  .PracticeCards > button {
    margin-top: 1vh;
    color: white;
    background-color: transparent;
    /* border: 1px solid red; */
    font-size: 0.6vmax;
  }
  .PracticeCards > h6 {
    font-size: 1vmax;
    /* border: 1px solid red; */
  }
}

@media (max-width: 400px) {
  .PracticeCardsParent {
    /* border: 2px dashed brown; */
    margin-top: 5vh !important;
    /* width: 60vw; */
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: auto auto;
    row-gap: 5vh;
    column-gap: 2vh;
  }
}
